.footerContent{
    background-color: #20152D;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
} 

.footerLogos{
    text-align: center;
    flex-direction: row;
}

.wasyFooterLogos{
    width: 70px;
    margin: 10px 20px;
}

.textsFooter{
    margin: 6px 0px;
}