@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap");

.accordion__section {
  display: flex;
  flex-direction: column;
}

.accordion {
  background-color: #333;
  color: #ffff;
  cursor: pointer;
  padding: 18px;
  display: flex;
  align-items: center;
  border: none;
  outline: none;
  
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  transition: filter 0.4s ease;
  transition: -webkit-filter 0.4s ease;
  transition: background-color 0.4s ease;
  position: relative;
}

.gaming:hover {
  filter: none;
  -webkit-filter: none;
  background-color: #003286;
}

.plus:hover {
  filter: none;
  -webkit-filter: none;
  background-color: #A88102;
}

.girls:hover {
  filter: none;
  -webkit-filter: none;
  background-color: #D6076B;
}

.active {
  filter: none;
  -webkit-filter: none;
  background-color: #666;
  
}

.accordion_logo{
  position: absolute;
  left: -40px;
  max-width: 78px;
}

.accordion__title {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 14px;
  text-align: left;
  position: absolute;
  left: 49px;
}

.accordion__icon {
  margin-left: auto;
  transition: transform 0.3s ease;
}

.rotate {
  transform: rotate(90deg);
}

.accordion__content {
  background-color: white;
  overflow: auto;
  transition: max-height 0.3s ease;
  color: grey;
  overflow-y: hidden

}