.App {
  /* background-color: #3791a3; */
  /* border: 5px solid red; */
  text-align: center;
  background-color: black;
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}